    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Add Details</h1>
            </div><!-- /.col -->
            
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
                    <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
         
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Date of inquiry</label>
                  <div class="input-group date" id="date" data-target-input="nearest">
                    <input type="date" [(ngModel)]="dastakvisit.date"  class="form-control " data-target="#date"/>
                </div>
                </div>
                <!-- /.form-group -->
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Time</label>
                  <div class="input-group date" id="timepicker" data-target-input="nearest">
                    <input type="time" [(ngModel)]="dastakvisit.time"  class="form-control" data-target="#timepicker"/>
                    
                    </div>
                </div>
                <!-- /.form-group -->
              </div>
         
             
             
              <!-- /.col -->
              <div class="col-md-6">
              
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Mode of inquiry</label>
                  <select class="form-control select2" [(ngModel)]="dastakvisit.modeOfInquiry" style="width: 100%;">
                    <option > select option</option>
                    <option>Calls</option>
                    <option >Texts</option>
                    <option>WhatsApp/Message</option>
                    <option>Emails</option>
              
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label>Any other information</label>
                    <textarea class="form-control" [(ngModel)]="dastakvisit.detailOfCall" rows="2" >
                    </textarea>
                    
                  </div> 
                
              </div> -->
              <!-- /.col -->
            </div>
            <!-- /.row -->

          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button class="btn btn-primary"  (click)="Post()">Save</button>
            <button class="btn btn-default mx-2">Cancel</button>
          </div>
        </div>
        <!-- /.card -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->