<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-11">
          <h1 class="m-0">Legal Detail</h1>
        
        </div><!-- /.col -->
        
          
         
          
        
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
    <div class="card card-default">
        
      <!-- /.card-header -->
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style=>
                Questions</th>
              
              <th>		Answers</th>
          
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Reference Numberr</td>
              <td>{{legaldetaildata.referenceNo}}</td>
              
             
        </tr>
        <tr>
            <td>Type of Assistance</td>
            <td>{{legaldetaildata.typeOfAssistance}}</td>
            
           
      </tr>
      <tr>
        <td>Nature of Legal Concern</td>
        <td>{{legaldetaildata.natureOfLegalConcern}}</td>
        
       
  </tr>
  <tr>
    <td>Case Filed by</td>
    <td>{{legaldetaildata.caseFiledBy}}</td>
    
   
</tr>
<tr>
    <td>Case Filed against</td>
    <td>{{legaldetaildata.caseFiledAgainst}}</td>
    
   
</tr>
<tr>
    <td>Name of Lawyer</td>
    <td>{{legaldetaildata.nameOfLawyer}}</td>
    
   
</tr>
<tr>
    <td>Contact of Lawyer</td>
    <td>{{legaldetaildata.contactOfLawyer}}</td>
    
   
</tr>
<tr>
    <td>Court	</td>
    <td>{{legaldetaildata.court}}</td>
    
   
</tr>
<tr>
    <td>Province of Court</td>
    <td>{{legaldetaildata.provinceOfCourt}}</td>
    
   
</tr>
<tr>
    <td>City of Court</td>
    <td>{{legaldetaildata.cityOfCourt}}</td>
    
   
</tr>
<tr>
    <td>Next Date of Hearing</td>
    <td>{{legaldetaildata.nextDateOfHearing}}</td>
    
   
</tr>
<tr>
    <td>Status of Case</td>
    <td>{{legaldetaildata.statusOfCase}}</td>
    
   
</tr>


            
          </tbody>
        </table>
    

      </div>
      <!-- /.card-body -->

    </div>
    <!-- /.card -->
    </div><!-- /.container-fluid -->
  </section>