<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-11">
          <h1 class="m-0">Economic Profile
        </h1>
        
        </div><!-- /.col -->
        
          
         
          
        
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
    <div class="card card-default">
        
      <!-- /.card-header -->
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style=>
                Questions</th>
              
              <th>		Answers</th>
          
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Reference Number</td>
              <td>{{legaldetaildata.economic?.referenceNo}}</td>
              
             
        </tr>
        <tr>
            <td>Name </td>
            <td>{{legaldetaildata.economic?.nameOfResident}}</td>
            
           
      </tr>
      <tr>
        <td>Age</td>
        <td>{{legaldetaildata.economic?.age}}</td>
        
       
  </tr>
  <tr>
    <td>Education</td>
    <td>	{{legaldetaildata.economic?.education}}</td>
    
   
</tr>
<tr>
    <td>Resident's source of income/maintenance</td>
    <td>{{legaldetaildata.economic?.sourceOfResidentIncome}}</td>
    
   
</tr>
<tr>
    <td>Has she enrolled in any course to learn new skills?</td>
    <td>{{legaldetaildata.economic?.enrolledToLearnNewSkills}}</td>
    
   
</tr>
<tr>
    <td>If enrolled, detail of course</td>
    <td>{{legaldetaildata.economic?.enrolledCourseDetail}}</td>
    
   
</tr>
<tr>
    <td>Nature of course</td>
    <td>{{legaldetaildata.economic?.natureOfCourse}}</td>
    
   
</tr>
<tr>
    <td>Course conducted by</td>
    <td>{{legaldetaildata.economic?.courseConductedBy}}</td>
    
   
</tr>
<tr>
    <td>Date of Training/ workshop at the shelter</td>
    <td>{{legaldetaildata.economic?.dateOfWorkshopAtShelter}}</td>
    
   
</tr>
<tr>
    <td>Type of training/workshop at the shelter</td>
    <td>{{legaldetaildata.economic?.typeOfWorkshopAtShelter}}</td>
    
   
</tr>


            
          </tbody>
        </table>
    

      </div>
      <!-- /.card-body -->

    </div>
    <!-- /.card -->
    </div><!-- /.container-fluid -->
  </section>