<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-11">
        <h1 class="m-0">Interventions</h1>
      
      </div><!-- /.col -->
      
        
       
        
      
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
              <!-- SELECT2 EXAMPLE -->
 
<div class="card card-default">
     
    <div class="card-body p-0">
      <table class="table table-striped">
        <thead>
          <tr >
            <th style=>Intervention Date</th>
              <th>Reference No</th>
         
            <th>Name</th>
            <th>Nature of Intervention</th>
            <th >Detail of Intervention</th>
         <th >Detail of Complications</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let item of intervention">
            <td>{{item.interventionDate| date:'fullDate'}}</td>
          
            <td>{{item.referenceNo}}</td>
            <td>{{item.name}}</td>
            <td>{{item.natureOfIntervention}}</td>
            <td>{{item.detailOfIntervention}}</td>
                <td>{{item.complications}}</td>
            
            <td>   <div class="input-group-prepend">
             
            <br><br>
            <button type="button" class="btn btn-danger ml-1" (click)="Delete(item.id)"title="Delete"  >
              <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span><i class="fas fa-times"></i></button> 
              <br><br> 
          </div>
          </td>
           
      </tr>
          
        </tbody>
      </table>
  

    </div>
   

  </div> 

  <!-- <div class="row">
                      
             
                      <div class="col-md-3" *ngFor="let item of intervention">

                        <div class="card card-widget widget-user shadow">
                         
                          <div class="widget-user-header bg-info">
                            <h3 class="widget-user-username">{{item.name}}</h3>
                          
                         
                          </div>
                       
                          <div class="card-footer">
                            <div class="row">
                              
                            
                              
                              
                            
                            
                              <div class="col-sm-6 border-right">
                                <div class="description-block">
                                  <h5 class="description-header">{{item.referenceNo}}</h5>
                                  <span class="description-text">Reference No.</span>
                                </div>
                        
                              </div>
                              
                              <div class="col-sm-6 border-right">
                                <div class="description-block">
                                  <h5 class="description-header">{{item.interventionDate| date:'fullDate'}}</h5>
                                  <span class="description-text"> Intervention Date</span>
                                </div>
                        
                              </div>
                          
                           


                         
                               <div class="col-sm-12">
                                <div class="description-block">
                                  



                                  <div class="flex-container">
                                    <div class="button-group">
                                    
                                  

                                   
                <a class="btn btn-app" title="Basic Information" >
                   <i class="fas fa-eye"></i> View
                  </a>
                              
                                    

                                  
                                
                                    
                                    </div>
                                  </div>
                                </div>
                           
                              </div> 
                            </div>
                     
                          </div>
                        </div>
               
                      </div>
                     
                    </div> -->







  </div>
</section>
  
