<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-11">
          <h1 class="m-0">Intervention Detail</h1>
        
        </div><!-- /.col -->
        
          
         
          
        
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
    <div class="card card-default">
        
      <!-- /.card-header -->
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style=>
                Questions</th>
              
              <th>		Answers</th>
          
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Reference Numberr</td>
              <td>{{Viewinterventiondata.intervention.referenceNo}}</td>
              
             
        </tr>
        <tr>
          <td>Name of resident</td>
          <td>{{Viewinterventiondata.intervention.nameOfResident}}</td>
          
         
    </tr>
        <tr>
            <td>Nature of intervention</td>
            <td>{{Viewinterventiondata.intervention.natureOfIntervention}}</td>
            
           
      </tr>
      <tr>
        <td>Detail of intervention</td>
        <td>
          <li *ngFor="let detail of session.getFormattedData(Viewinterventiondata.intervention.detailOfIntervention)"> {{ detail }}</li>
        </td>
        
       
  </tr>
  <tr>
    <td>Additional detail of intervention</td>
    <td>{{Viewinterventiondata.intervention.additionalDetailsOfIntervention}}</td>
    
   
</tr>
<tr>
    <td>Complications</td>
    <td>
      <li *ngFor="let detail of session.getFormattedData(Viewinterventiondata.intervention.complications)"> {{ detail }}</li>
      
    </td>
    
   
</tr>
<tr>
    <td>Outcome</td>
    <td>{{Viewinterventiondata.intervention.outcome}}</td>
    
   
</tr>



            
          </tbody>
        </table>
    

      </div>
      <!-- /.card-body -->

    </div>
    <!-- /.card -->
    </div><!-- /.container-fluid -->
  </section>