<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-11">
          <h1 class="m-0">Psychological Detail </h1>
        
        </div><!-- /.col -->
        
          
         
          
        
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
    <div class="card card-default">
        
      <!-- /.card-header -->
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style=>
                Questions</th>
              
              <th>		Answers</th>
          
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>Reference Number</td>
              <td>{{psydata.info.referenceNo}}</td>
              
             
        </tr>
        <tr>
            <td>Name</td>
            <td>{{psydata.info.title}} {{psydata.info.firstName}} {{psydata.info.lastName}}</td>
            
           
      </tr>
      <tr >
        <td>Date of meeting
        </td>
        <td>{{psydata.data.dateOfMeeting| date:'fullDate'}}</td>
        
       
  </tr>
  <tr >
    <td>Has she been oriented with shelter rules & regulations and rights of residents in a language she understands?
    </td>
    <td>{{psydata.data.atShelter==1?'Yes':'No'}}</td>
    
   
</tr>
<tr >
  <td>Started at
  </td>
  <td>{{psydata.data.startedAt  }}</td>
  
 
</tr>
<tr >
  <td>Ended At</td>
  <td>{{psydata.data.endedAt}}</td>
  
 
</tr>

<tr >
  <td>Name of visitor(s)</td>
  <td>
    <li *ngFor="let detail of session.getFormattedData(psydata.data.guestName)"> {{detail}}</li>
  </td>
  
 
</tr>
<tr >
  <td>CNIC number of visitor(s)</td>
  <td>
    <li *ngFor="let detail of session.getFormattedData(psydata.data.guestCnic)"> {{detail}}</li>
  </td>
  
 
</tr>
<tr >
  <td>Relation with resident</td>
  <td>
    <li *ngFor="let detail of session.getFormattedData(psydata.data.guestRelation)"> {{detail}}</li>

  </td>
  
</tr>



            
          </tbody>
        </table>
    

      </div>
      <!-- /.card-body -->

    </div>
    <!-- /.card -->
    </div><!-- /.container-fluid -->
  </section>