/* You can add global styles to this file, and also import other style files */
.table td, .table th {
    padding: .2rem;
    vertical-align: middle !important;
    border-top: 1px solid #dee2e6;
}

.widget-user .card-footer {
    padding-top: 0px;
}

.btn-app {
    min-width: 68px;
}

.widget-user .widget-user-header {
    min-height: 95px;

}
